# STRINGS, LITS, TUPLES, CASTS AND DICTIONARIES EXERCISES

## 1. STRINGS

### 1.1. Prints "*Hello World 2019*" concatenating strings

In [51]:
print ('Hello ' + 'World ' + '2019')

Hello World 2019

### 1.2. Saves "*Hello, World, 2019*" into *str1*(string variable), using *join* and coma separator. Then prints *str1*

In [52]:
str1 = ', '.join(('Hello', 'World', ' 2019') )
str1

'Hello, World,  2019'

### 1.3. Assigns to *str2* the last two words of *str1*, using string split. Then prints *str2*

In [53]:
str2 = str1.split(', ')[-2:]
print(str2)

['World', ' 2019']

## 2. TUPLES

###  2.1. Assigns to tupl1 numbers from 0 to 4, both included.

In [56]:
tupl1 = 0,1,2,3,4
tupl1

(0, 1, 2, 3, 4)

### 2.2. Replaces 4th element in tupl1 by number 5.

In [58]:
list_tupl1 = list(tupl1)
list_tupl1[3] = 5
tupl1 = tuple(list_tupl1)
tupl1

(0, 1, 2, 5, 4)

### 2.3. Assigns to tupl2 numbers from 5 to 7, both included. __Without using parenthesis__

In [59]:
tupl2 = 5,6,7

### 2.4. Assigns to _tupl_ the result of concatenating  _tupl1_ and _tupl2_

In [61]:
tupl = tupl1 + tupl2
tupl

(0, 1, 2, 5, 4, 5, 6, 7)

## 3. LIST

### 3.1. Creates list1 whose elements are the three words in _str1_ using the split function

In [62]:
list1 = str1.split()
list1

['Hello,', 'World,', '2019']

### 3.2. Appends str2 to list1

In [63]:
str2

['World', ' 2019']

In [64]:
list1.append(str2)
list1

['Hello,', 'World,', '2019', ['World', ' 2019']]

### 3.3. Deletes last string added to list1, using slicing and _del()_ function

In [65]:
del(list1[-1:])
list1

['Hello,', 'World,', '2019']

### 3.4. Access to "2019" element in list1, converts it to integer and then assigns the result to "num" variable

In [66]:
num = int(list1[2])

In [67]:
num

2019

### 3.5. Concatenates num to str1 using +. What happen?

In [33]:
str1 + num

TypeError: must be str, not int

### 3.6. Replaces year in list1 by 2018 (integer).

In [68]:
list1[2] = 2018

In [69]:
list1

['Hello,', 'World,', 2018]

### 3.7. Converts list1 to tuple, using tuple() function

In [70]:
tuple(list1)

('Hello,', 'World,', 2018)

### 3.8. Converts tupl1 to list, using list() function

In [71]:
list(tupl1)

[0, 1, 2, 5, 4]

### 3.8. Creates "colors" list with: 'green', 'red', 'blue' y 'yellow'

In [72]:
colors = ['green', 'red', 'blue','yellow']

## 4. DICTIONARIES

### 4.1. Creates dict1 with keys = 'word', 'numbers' and 'colors' and values = list1, tupl1 y colors respectively

In [73]:
dict1 = {'words': list1, 'numbers': tupl1, 'colors': colors}
dict1.items()

dict_items([('words', ['Hello,', 'World,', 2018]), ('numbers', (0, 1, 2, 5, 4)), ('colors', ['green', 'red', 'blue', 'yellow'])])

### 4.2. Access to key list and values list

In [74]:
dict1.keys()

dict_keys(['words', 'numbers', 'colors'])

In [75]:
dict1.values()

dict_values([['Hello,', 'World,', 2018], (0, 1, 2, 5, 4), ['green', 'red', 'blue', 'yellow']])

### 4.3. Adds to dict1 a new key ='fruits' whose values are 'banana', 'orange' y 'lemon'

In [76]:
dict1['fruits'] = 'banana', 'orange', 'lemon'

### 4.4. Access to values of 'fruits' in dict1

In [77]:
dict1['fruits']

('banana', 'orange', 'lemon')

### 4.5. Removes 'fruits' element from dict1

In [78]:
print(dict1.items())
del(dict1['fruits'])
print(dict1.items())

dict_items([('words', ['Hello,', 'World,', 2018]), ('numbers', (0, 1, 2, 5, 4)), ('colors', ['green', 'red', 'blue', 'yellow']), ('fruits', ('banana', 'orange', 'lemon'))])
dict_items([('words', ['Hello,', 'World,', 2018]), ('numbers', (0, 1, 2, 5, 4)), ('colors', ['green', 'red', 'blue', 'yellow'])])

### 4.6. Creates dict2 using zip. Keys = 'words', 'numbers' and 'colors', values = list1, tupl1 and colors.

In [79]:
keys = ('word','numbers','colors')
dict2=dict(zip(keys,(list1,tupl1,colors)))

In [80]:
dict2.items()

dict_items([('word', ['Hello,', 'World,', 2018]), ('numbers', (0, 1, 2, 5, 4)), ('colors', ['green', 'red', 'blue', 'yellow'])])

### 4.7. Checks if dict1 and dict2 are equal. Why?

In [81]:
dict1 == dict2

False

In [82]:
del(dict2)

In [83]:
dict2

NameError: name 'dict2' is not defined